<acl>
    <page-dashboard-widget-dashboard-plus>
        <name>Dashboard: Dashboard Plus widgets</name>
        <patterns>
            <pattern>api/dashboardplus/system/info</pattern>
            <pattern>api/dashboardplus/system/frequency</pattern>
            <pattern>api/diagnostics/system/system_information</pattern>
            <pattern>api/diagnostics/system/system_time</pattern>
            <pattern>api/diagnostics/system/system_temperature</pattern>
            <pattern>api/diagnostics/system/system_resources</pattern>
            <pattern>api/diagnostics/system/system_mbuf</pattern>
            <pattern>api/diagnostics/system/system_swap</pattern>
            <pattern>api/diagnostics/system/system_disk</pattern>
            <pattern>api/diagnostics/cpu_usage/stream</pattern>
            <pattern>api/diagnostics/firewall/pf_states</pattern>
            <pattern>api/diagnostics/traffic/interface</pattern>
            <pattern>api/diagnostics/traffic/stream/*</pattern>
            <pattern>api/routing/settings/search_gateway</pattern>
            <pattern>api/interfaces/overview/interfaces_info</pattern>
        </patterns>
    </page-dashboard-widget-dashboard-plus>
</acl>
