<menu>
    <Reporting>
        <FirewallMap VisibleName="Firewall Map" cssClass="fa fa-globe fa-fw">
            <Map order="10" url="/ui/firewallmap"/>
            <Status order="20" url="/ui/firewallmap/status"/>
            <Settings order="30" url="/ui/firewallmap/settings"/>
        </FirewallMap>
    </Reporting>
</menu>
