<acl>
    <page-dashboard-widget-firewall-map>
        <name>Dashboard: Firewall Map widget</name>
        <patterns>
            <pattern>api/firewallmap/flow/snapshot</pattern>
            <pattern>ui/firewallmap</pattern>
            <pattern>ui/firewallmap/*</pattern>
        </patterns>
    </page-dashboard-widget-firewall-map>
    <page-firewall-map-settings>
        <name>Firewall Map+: firewall-wide settings</name>
        <patterns>
            <pattern>api/firewallmap/settings/*</pattern>
        </patterns>
    </page-firewall-map-settings>
</acl>
